In [1]:
run create_tables.py

In [2]:
run test.ipynb

 * postgresql://student:***@127.0.0.1/sparkifydb
0 rows affected.
 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.
 * postgresql://student:***@127.0.0.1/sparkifydb
0 rows affected.
 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.
 * postgresql://student:***@127.0.0.1/sparkifydb
0 rows affected.
 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.
 * postgresql://student:***@127.0.0.1/sparkifydb
0 rows affected.
 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.
 * postgresql://student:***@127.0.0.1/sparkifydb
0 rows affected.
 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.
 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.
Returning data to local variable _tablenames
 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.
Returning data to local variable _output
 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.
Returning data to local variable _output
 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.
Returning data to local variable _output
 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.
Returning data to local variable _output
 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.
Returning data to local variable _output
 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.
Returning data to local variable _output
 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.
Returning data to local variable _output
 * postgresql://student:***@127.0.0.1/sparkifydb
9 rows affected.
Returning data to local variable _output

In [3]:
run etl.py

71 files found in data/song_data
1/71 files processed.
2/71 files processed.
3/71 files processed.
4/71 files processed.
5/71 files processed.
6/71 files processed.
7/71 files processed.
8/71 files processed.
9/71 files processed.
10/71 files processed.
11/71 files processed.
12/71 files processed.
13/71 files processed.
14/71 files processed.
15/71 files processed.
16/71 files processed.
17/71 files processed.
18/71 files processed.
19/71 files processed.
20/71 files processed.
21/71 files processed.
22/71 files processed.
23/71 files processed.
24/71 files processed.
25/71 files processed.
26/71 files processed.
27/71 files processed.
28/71 files processed.
29/71 files processed.
30/71 files processed.
31/71 files processed.
32/71 files processed.
33/71 files processed.
34/71 files processed.
35/71 files processed.
36/71 files processed.
37/71 files processed.
38/71 files processed.
39/71 files processed.
40/71 files processed.
41/71 files processed.
42/71 files processed.
43/71 files processed.
44/71 files processed.
45/71 files processed.
46/71 files processed.
47/71 files processed.
48/71 files processed.
49/71 files processed.
50/71 files processed.
51/71 files processed.
52/71 files processed.
53/71 files processed.
54/71 files processed.
55/71 files processed.
56/71 files processed.
57/71 files processed.
58/71 files processed.
59/71 files processed.
60/71 files processed.
61/71 files processed.
62/71 files processed.
63/71 files processed.
64/71 files processed.
65/71 files processed.
66/71 files processed.
67/71 files processed.
68/71 files processed.
69/71 files processed.
70/71 files processed.
71/71 files processed.
30 files found in data/log_data
1/30 files processed.
2/30 files processed.
3/30 files processed.
4/30 files processed.
5/30 files processed.
6/30 files processed.
7/30 files processed.
8/30 files processed.
9/30 files processed.
10/30 files processed.
11/30 files processed.
12/30 files processed.
13/30 files processed.
14/30 files processed.
15/30 files processed.
16/30 files processed.
17/30 files processed.
18/30 files processed.
19/30 files processed.
20/30 files processed.
21/30 files processed.
22/30 files processed.
23/30 files processed.
24/30 files processed.
25/30 files processed.
26/30 files processed.
27/30 files processed.
28/30 files processed.
29/30 files processed.
30/30 files processed.

In [4]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [5]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

'Connected: student@sparkifydb'

In [6]:
%sql SELECT u.user_id, u.first_name, u.last_name, COUNT(s.user_id) FROM songplays s JOIN users u ON u.user_id = s.user_id GROUP BY 1, 2, 3 ORDER BY 4 DESC LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(49, 'Chloe', 'Cuevas', 689),
 (80, 'Tegan', 'Levine', 665),
 (97, 'Kate', 'Harrell', 557),
 (15, 'Lily', 'Koch', 463),
 (44, 'Aleena', 'Kirby', 397)]

In [9]:
%sql SELECT * FROM songs s JOIN artists a ON s.artist_id = a.artist_id LIMIT 10;

 * postgresql://student:***@127.0.0.1/sparkifydb
10 rows affected.

[('SOMZWCG12A8C13C480', "I Didn't Mean To", 'ARD7TVE1187B99BFB1', 0, Decimal('218.93179'), 'ARD7TVE1187B99BFB1', 'Casual', 'California - LA', nan, nan),
 ('SOUDSGM12AC9618304', 'Insatiable (Instrumental Version)', 'ARNTLGG11E2835DDB9', 0, Decimal('266.39628'), 'ARNTLGG11E2835DDB9', 'Clp', '', nan, nan),
 ('SOIAZJW12AB01853F1', 'Pink World', 'AR8ZCNI1187B9A069B', 1984, Decimal('269.81832'), 'AR8ZCNI1187B9A069B', 'Planet P Project', '', nan, nan),
 ('SOHKNRJ12A6701D1F8', 'Drop of Rain', 'AR10USD1187B99F3F1', 0, Decimal('189.57016'), 'AR10USD1187B99F3F1', 'Tweeterfriendly Music', 'Burlington, Ontario, Canada', nan, nan),
 ('SOCIWDW12A8C13D406', 'Soul Deep', 'ARMJAGH1187FB546F3', 1969, Decimal('148.03546'), 'ARMJAGH1187FB546F3', 'The Box Tops', 'Memphis, TN', 35.14968, -90.04892),
 ('SOYMRWW12A6D4FAB14', 'The Moon And I (Ordinary Day Album Version)', 'ARKFYS91187B98E58F', 0, Decimal('267.7024'), 'ARKFYS91187B98E58F', 'Jeff And Sheri Easter', '', nan, nan),
 ('SOMJBYD12A6D4F8557', 'Keepin It Real (Skit)', 'ARD0S291187B9B7BF5', 0, Decimal('114.78159'), 'ARD0S291187B9B7BF5', 'Rated R', 'Ohio', nan, nan),
 ('SOQHXMF12AB0182363', 'Young Boy Blues', 'ARGSJW91187B9B1D6B', 0, Decimal('218.77506'), 'ARGSJW91187B9B1D6B', 'JennyAnyKind', 'North Carolina', 35.21962, -80.01955),
 ('SONHOTT12A8C13493C', 'Something Girls', 'AR7G5I41187FB4CE6C', 1982, Decimal('233.40363'), 'AR7G5I41187FB4CE6C', 'Adam Ant', 'London, England', nan, nan),
 ('SOFSOCN12A8C143F5D', 'Face the Ashes', 'ARXR32B1187FB57099', 2007, Decimal('209.60608'), 'ARXR32B1187FB57099', 'Gob', '', nan, nan)]

In [10]:
%sql SELECT * FROM songplays LIMIT 10;

 * postgresql://student:***@127.0.0.1/sparkifydb
10 rows affected.

[(1, datetime.datetime(2018, 11, 30, 0, 22, 7, 796000), 91, 'free', None, None, 829, 'Dallas-Fort Worth-Arlington, TX', 'Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; WOW64; Trident/6.0)'),
 (2, datetime.datetime(2018, 11, 30, 1, 8, 41, 796000), 73, 'paid', None, None, 1049, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (3, datetime.datetime(2018, 11, 30, 1, 12, 48, 796000), 73, 'paid', None, None, 1049, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (4, datetime.datetime(2018, 11, 30, 1, 17, 5, 796000), 73, 'paid', None, None, 1049, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (5, datetime.datetime(2018, 11, 30, 1, 20, 56, 796000), 73, 'paid', None, None, 1049, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (6, datetime.datetime(2018, 11, 30, 1, 24, 32, 796000), 73, 'paid', None, None, 1049, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (7, datetime.datetime(2018, 11, 30, 1, 28, 19, 796000), 73, 'paid', None, None, 1049, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (8, datetime.datetime(2018, 11, 30, 1, 32, 0, 796000), 73, 'paid', None, None, 1049, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (9, datetime.datetime(2018, 11, 30, 1, 38, 17, 796000), 73, 'paid', None, None, 1049, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (10, datetime.datetime(2018, 11, 30, 1, 39, 53, 796000), 73, 'paid', None, None, 1049, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"')]

In [ ]:
%sql SELECT level, count(*) FROM songplays GROUP BY 1 ORDER BY 2 DESC;

In [ ]:
%sql SELECT date(start_time), count(*) FROM songplays GROUP BY 1 ORDER BY 2 DESC;