In [1]:
import os
# from pyspark.sql import SparkSession

# import configparser
# config = configparser.ConfigParser()
# config.read_file(open('cluster.config'))

# spark = SparkSession.builder.getOrCreate()
from pyspark.sql import SparkSession
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["PATH"] = "/opt/conda/bin:/opt/spark-2.4.3-bin-hadoop2.7/bin:/opt/conda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/lib/jvm/java-8-openjdk-amd64/bin"
os.environ["SPARK_HOME"] = "/opt/spark-2.4.3-bin-hadoop2.7"
os.environ["HADOOP_HOME"] = "/opt/spark-2.4.3-bin-hadoop2.7"

# print(config['AWS']['KEY'])

# os.environ['AWS_ACCESS_KEY_ID']=config['AWS']['AWS_ACCESS_KEY_ID']
# os.environ['AWS_SECRET_ACCESS_KEY']=config['AWS']['AWS_SECRET_ACCESS_KEY']

# AWS_ACCESS_KEY_ID = config['AWS']['KEY']
# AWS_SECRET_ACCESS_KEY = config['AWS']['SECRET']

spark = SparkSession.builder\
.config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
.config("spark.jars.repositories", "https://repos.spark-packages.org/")\
.enableHiveSupport().getOrCreate()



# spark = SparkSession.builder\
# .config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
# .config("spark.jars.repositories", "https://repos.spark-packages.org/")\
# .config("spark.hadoop.fs.s3a.impl","org.apache.hadoop.fs.s3a.S3AFileSystem")\
# .enableHiveSupport().getOrCreate()

# sc = spark.sparkContext
# sc._jsc.hadoopConfiguration().set("fs.s3.access.key", AWS_ACCESS_KEY_ID)
# sc._jsc.hadoopConfiguration().set("fs.s3.secret.key", AWS_SECRET_ACCESS_KEY)

df_spark =spark.read.load('./sas_data')
print("Completed, ran successfully")

Completed, ran successfully

In [2]:
# spark = SparkSession.builder.config("spark.hadoop.fs.s3a.impl","org.apache.hadoop.fs.s3a.S3AFileSystem").getOrCreate()

In [3]:
df_spark.createOrReplaceTempView("imm_table_1")

In [4]:
immigration_df = spark.sql('SELECT cicid AS cicid, \
                          i94yr AS year, \
                          i94mon AS month, \
                          i94cit AS country_code1, \
                          i94res AS country_code2, \
                          i94port AS port_of_entry, \
                          date_add("1960-01-01", arrdate) AS arrival_date, \
                          i94mode AS mode_of_arrival, \
                          i94addr AS state_or_terr, \
                          date_add("1960-01-01", depdate) AS departure_date, \
                          i94bir AS age, \
                          i94visa AS VISA, \
                          occup AS occupation, \
                          entdepa AS arrival_flag, \
                          entdepd AS departure_flag, \
                          entdepu AS update_flag, \
                          matflag AS match_flag, \
                          biryear AS birth_year, \
                          to_date(dtaddto, "MMddyyy") AS date_added, \
                          gender AS gender, \
                          insnum AS ins_number, \
                          airline AS incoming_airline, \
                          admnum AS admission_number, \
                          fltno AS flight_number, \
                          visatype AS visa_type \
                          FROM imm_table_1')

In [5]:
from pyspark.sql.types import IntegerType, DoubleType

In [6]:
imm_df = immigration_df.withColumn('country_code1', immigration_df.country_code1.cast(IntegerType()))\
                       .withColumn('country_code2', immigration_df.country_code2.cast(IntegerType()))\
                       .withColumn('cicid', immigration_df.cicid.cast(IntegerType()))\
                       .withColumn('year', immigration_df.year.cast(IntegerType()))\
                       .withColumn('month', immigration_df.month.cast(IntegerType()))\
                       .withColumn('mode_of_arrival', immigration_df.mode_of_arrival.cast(IntegerType()))\
                       .withColumn('age', immigration_df.age.cast(IntegerType()))\
                       .withColumn('VISA', immigration_df.VISA.cast(IntegerType()))\
                       .withColumn('birth_year', immigration_df.birth_year.cast(IntegerType()))

In [7]:
imm_df.createOrReplaceTempView('imm_clean_col')

In [8]:
null_df = spark.sql("SELECT cast(((COUNT(*) - COUNT(state_or_terr)) / COUNT(*)) * 100 AS decimal(5,2)) AS st, \
                     cast(((COUNT(*) - COUNT(update_flag)) / COUNT(*)) * 100 AS decimal(5,2)) AS uf, \
                     cast(((COUNT(*) - COUNT(cicid)) / COUNT(*)) * 100 AS decimal(5,2)) AS ci, \
                     cast(((COUNT(*) - COUNT(year)) / COUNT(*)) * 100 AS decimal(5,2)) AS year_pc, \
                     cast(((COUNT(*) - COUNT(month)) / COUNT(*)) * 100 AS decimal(5,2)) AS month_pcn, \
                     cast(((COUNT(*) - COUNT(country_code1)) / COUNT(*)) * 100 AS decimal(5,2)) AS cc1_p, \
                     cast(((COUNT(*) - COUNT(country_code2)) / COUNT(*)) * 100 AS decimal(5,2)) AS cc2_p, \
                     cast(((COUNT(*) - COUNT(arrival_date)) / COUNT(*)) * 100 AS decimal(5,2)) AS arrdate, \
                     cast(((COUNT(*) - COUNT(mode_of_arrival)) / COUNT(*)) * 100 AS decimal(5,2)) AS modearr_, \
                     cast(((COUNT(*) - COUNT(departure_date)) / COUNT(*)) * 100 AS decimal(5,2)) AS deptdate, \
                     cast(((COUNT(*) - COUNT(age)) / COUNT(*)) * 100 AS decimal(5,2)) AS age_p, \
                     cast(((COUNT(*) - COUNT(VISA)) / COUNT(*)) * 100 AS decimal(5,2)) AS VISA_pc, \
                     cast(((COUNT(*) - COUNT(occupation)) / COUNT(*)) * 100 AS decimal(5,2)) AS occ_pcnt_null, \
                     cast(((COUNT(*) - COUNT(arrival_flag)) / COUNT(*)) * 100 AS decimal(5,2)) AS arrflag_pcnt_null, \
                     cast(((COUNT(*) - COUNT(departure_flag)) / COUNT(*)) * 100 AS decimal(5,2)) AS deptflag_pcnt_null, \
                     cast(((COUNT(*) - COUNT(match_flag)) / COUNT(*)) * 100 AS decimal(5,2)) AS matchflg_pcnt_null, \
                     cast(((COUNT(*) - COUNT(birth_year)) / COUNT(*)) * 100 AS decimal(5,2)) AS brth_pcnt_null, \
                     cast(((COUNT(*) - COUNT(date_added)) / COUNT(*)) * 100 AS decimal(5,2)) AS dateadd_pcnt_null, \
                     cast(((COUNT(*) - COUNT(gender)) / COUNT(*)) * 100 AS decimal(5,2)) AS gender_pcnt_null, \
                     cast(((COUNT(*) - COUNT(ins_number)) / COUNT(*)) * 100 AS decimal(5,2)) AS ins_pcnt_null, \
                     cast(((COUNT(*) - COUNT(incoming_airline)) / COUNT(*)) * 100 AS decimal(5,2)) AS al_pcnt_null, \
                     cast(((COUNT(*) - COUNT(admission_number)) / COUNT(*)) * 100 AS decimal(5,2)) AS admnum_pcnt_null, \
                     cast(((COUNT(*) - COUNT(flight_number)) / COUNT(*)) * 100 AS decimal(5,2)) AS fn_pcnt_null, \
                     cast(((COUNT(*) - COUNT(visa_type)) / COUNT(*)) * 100 AS decimal(5,2)) AS visatype_pcnt_null \
                     FROM imm_clean_col")

null_df.show()

+----+-----+----+-------+---------+-----+-----+-------+--------+--------+-----+-------+-------------+-----------------+------------------+------------------+--------------+-----------------+----------------+-------------+------------+----------------+------------+------------------+
|  st|   uf|  ci|year_pc|month_pcn|cc1_p|cc2_p|arrdate|modearr_|deptdate|age_p|VISA_pc|occ_pcnt_null|arrflag_pcnt_null|deptflag_pcnt_null|matchflg_pcnt_null|brth_pcnt_null|dateadd_pcnt_null|gender_pcnt_null|ins_pcnt_null|al_pcnt_null|admnum_pcnt_null|fn_pcnt_null|visatype_pcnt_null|
+----+-----+----+-------+---------+-----+-----+-------+--------+--------+-----+-------+-------------+-----------------+------------------+------------------+--------------+-----------------+----------------+-------------+------------+----------------+------------+------------------+
|4.93|99.99|0.00|   0.00|     0.00| 0.00| 0.00|   0.00|    0.01|    4.60| 0.03|   0.00|        99.74|             0.01|              4.47|              4.47|          0.03|             1.48|           13.38|        96.33|        2.70|            0.00|        0.63|              0.00|
+----+-----+----+-------+---------+-----+-----+-------+--------+--------+-----+-------+-------------+-----------------+------------------+------------------+--------------+-----------------+----------------+-------------+------------+----------------+------------+------------------+

In [9]:
imm_df.show()

+-------+----+-----+-------------+-------------+-------------+------------+---------------+-------------+--------------+---+----+----------+------------+--------------+-----------+----------+----------+----------+------+----------+----------------+----------------+-------------+---------+
|  cicid|year|month|country_code1|country_code2|port_of_entry|arrival_date|mode_of_arrival|state_or_terr|departure_date|age|VISA|occupation|arrival_flag|departure_flag|update_flag|match_flag|birth_year|date_added|gender|ins_number|incoming_airline|admission_number|flight_number|visa_type|
+-------+----+-----+-------------+-------------+-------------+------------+---------------+-------------+--------------+---+----+----------+------------+--------------+-----------+----------+----------+----------+------+----------+----------------+----------------+-------------+---------+
|5748517|2016|    4|          245|          438|          LOS|  2016-04-30|              1|           CA|    2016-05-08| 40|   1|      null|           G|             O|       null|         M|      1976|2016-10-29|     F|      null|              QF|  9.495387003E10|        00011|       B1|
|5748518|2016|    4|          245|          438|          LOS|  2016-04-30|              1|           NV|    2016-05-17| 32|   1|      null|           G|             O|       null|         M|      1984|2016-10-29|     F|      null|              VA|  9.495562283E10|        00007|       B1|
|5748519|2016|    4|          245|          438|          LOS|  2016-04-30|              1|           WA|    2016-05-08| 29|   1|      null|           G|             O|       null|         M|      1987|2016-10-29|     M|      null|              DL|  9.495640653E10|        00040|       B1|
|5748520|2016|    4|          245|          438|          LOS|  2016-04-30|              1|           WA|    2016-05-14| 29|   1|      null|           G|             O|       null|         M|      1987|2016-10-29|     F|      null|              DL|  9.495645143E10|        00040|       B1|
|5748521|2016|    4|          245|          438|          LOS|  2016-04-30|              1|           WA|    2016-05-14| 28|   1|      null|           G|             O|       null|         M|      1988|2016-10-29|     M|      null|              DL|  9.495638813E10|        00040|       B1|
|5748522|2016|    4|          245|          464|          HHW|  2016-04-30|              1|           HI|    2016-05-05| 57|   2|      null|           G|             O|       null|         M|      1959|2016-10-29|     M|      null|              NZ|  9.498180283E10|        00010|       B2|
|5748523|2016|    4|          245|          464|          HHW|  2016-04-30|              1|           HI|    2016-05-12| 66|   2|      null|           G|             O|       null|         M|      1950|2016-10-29|     F|      null|              NZ|  9.497968993E10|        00010|       B2|
|5748524|2016|    4|          245|          464|          HHW|  2016-04-30|              1|           HI|    2016-05-12| 41|   2|      null|           G|             O|       null|         M|      1975|2016-10-29|     F|      null|              NZ|  9.497974673E10|        00010|       B2|
|5748525|2016|    4|          245|          464|          HOU|  2016-04-30|              1|           FL|    2016-05-07| 27|   2|      null|           G|             O|       null|         M|      1989|2016-10-29|     M|      null|              NZ|  9.497324663E10|        00028|       B2|
|5748526|2016|    4|          245|          464|          LOS|  2016-04-30|              1|           CA|    2016-05-07| 26|   2|      null|           G|             O|       null|         M|      1990|2016-10-29|     F|      null|              NZ|  9.501354793E10|        00002|       B2|
|5748527|2016|    4|          245|          504|          NEW|  2016-04-30|              1|           MA|    2016-05-02| 44|   2|      null|           G|             O|       null|         M|      1972|2016-10-29|     M|      null|              UA|  9.493828593E10|        01215|       B2|
|5748528|2016|    4|          245|          504|          LOS|  2016-04-30|              1|         null|    2016-05-01| 39|   2|      null|           G|             O|       null|         M|      1977|2016-10-29|     M|      null|              CM|  9.501810463E10|        00472|       B2|
|5748529|2016|    4|          245|          504|          WAS|  2016-04-30|              1|           VA|    2016-05-22| 38|   2|      null|           G|             O|       null|         M|      1978|2016-10-29|     M|      null|              CM|  9.492489983E10|        00488|       B2|
|5748530|2016|    4|          245|          504|          LOS|  2016-04-30|              1|           CA|    2016-05-03| 56|   2|      null|           G|             O|       null|         M|      1960|2016-10-29|     F|      null|              CM|  9.492648103E10|        00302|       B2|
|5748531|2016|    4|          245|          504|          LOS|  2016-04-30|              1|           CA|    2016-05-03| 38|   2|      null|           G|             O|       null|         M|      1978|2016-10-28|     M|      null|              CM|  9.492629303E10|        00302|       B2|
|5748532|2016|    4|          245|          504|          MIA|  2016-04-30|              1|           FL|    2016-05-07| 53|   2|      null|           G|             O|       null|         M|      1963|2016-10-29|     F|      null|              CM|  9.500640513E10|        00430|       B2|
|5748534|2016|    4|          245|          528|          SFR|  2016-04-30|              1|           CA|          null| 84|   2|      null|           G|          null|       null|      null|      1932|2016-10-28|     F|      null|              CX|  9.492476223E10|        00872|       B2|
|5748876|2016|    4|          245|          582|          HOU|  2016-04-30|              1|           TX|    2016-05-09| 43|   1|      null|           G|             O|       null|         M|      1973|2016-10-29|     M|      null|              UA|  9.499463063E10|        05574|       B1|
|5748877|2016|    4|          245|          582|          HOU|  2016-04-30|              1|           TX|    2016-05-09| 30|   1|      null|           G|             O|       null|         M|      1986|2016-10-29|     F|      null|              UA|  9.499447663E10|        05574|       B1|
|5748881|2016|    4|          245|          582|          LOS|  2016-04-30|              1|           CA|    2016-05-01| 34|   2|      null|           G|             O|       null|         M|      1982|2016-10-29|     M|      null|              AM|  9.496770903E10|        00646|       B2|
+-------+----+-----+-------------+-------------+-------------+------------+---------------+-------------+--------------+---+----+----------+------------+--------------+-----------+----------+----------+----------+------+----------+----------------+----------------+-------------+---------+
only showing top 20 rows

In [10]:
imm_df_final = imm_df.drop('occupation', 'update_flag', 'ins_number')

In [11]:
imm_df_final.show()

+-------+----+-----+-------------+-------------+-------------+------------+---------------+-------------+--------------+---+----+------------+--------------+----------+----------+----------+------+----------------+----------------+-------------+---------+
|  cicid|year|month|country_code1|country_code2|port_of_entry|arrival_date|mode_of_arrival|state_or_terr|departure_date|age|VISA|arrival_flag|departure_flag|match_flag|birth_year|date_added|gender|incoming_airline|admission_number|flight_number|visa_type|
+-------+----+-----+-------------+-------------+-------------+------------+---------------+-------------+--------------+---+----+------------+--------------+----------+----------+----------+------+----------------+----------------+-------------+---------+
|5748517|2016|    4|          245|          438|          LOS|  2016-04-30|              1|           CA|    2016-05-08| 40|   1|           G|             O|         M|      1976|2016-10-29|     F|              QF|  9.495387003E10|        00011|       B1|
|5748518|2016|    4|          245|          438|          LOS|  2016-04-30|              1|           NV|    2016-05-17| 32|   1|           G|             O|         M|      1984|2016-10-29|     F|              VA|  9.495562283E10|        00007|       B1|
|5748519|2016|    4|          245|          438|          LOS|  2016-04-30|              1|           WA|    2016-05-08| 29|   1|           G|             O|         M|      1987|2016-10-29|     M|              DL|  9.495640653E10|        00040|       B1|
|5748520|2016|    4|          245|          438|          LOS|  2016-04-30|              1|           WA|    2016-05-14| 29|   1|           G|             O|         M|      1987|2016-10-29|     F|              DL|  9.495645143E10|        00040|       B1|
|5748521|2016|    4|          245|          438|          LOS|  2016-04-30|              1|           WA|    2016-05-14| 28|   1|           G|             O|         M|      1988|2016-10-29|     M|              DL|  9.495638813E10|        00040|       B1|
|5748522|2016|    4|          245|          464|          HHW|  2016-04-30|              1|           HI|    2016-05-05| 57|   2|           G|             O|         M|      1959|2016-10-29|     M|              NZ|  9.498180283E10|        00010|       B2|
|5748523|2016|    4|          245|          464|          HHW|  2016-04-30|              1|           HI|    2016-05-12| 66|   2|           G|             O|         M|      1950|2016-10-29|     F|              NZ|  9.497968993E10|        00010|       B2|
|5748524|2016|    4|          245|          464|          HHW|  2016-04-30|              1|           HI|    2016-05-12| 41|   2|           G|             O|         M|      1975|2016-10-29|     F|              NZ|  9.497974673E10|        00010|       B2|
|5748525|2016|    4|          245|          464|          HOU|  2016-04-30|              1|           FL|    2016-05-07| 27|   2|           G|             O|         M|      1989|2016-10-29|     M|              NZ|  9.497324663E10|        00028|       B2|
|5748526|2016|    4|          245|          464|          LOS|  2016-04-30|              1|           CA|    2016-05-07| 26|   2|           G|             O|         M|      1990|2016-10-29|     F|              NZ|  9.501354793E10|        00002|       B2|
|5748527|2016|    4|          245|          504|          NEW|  2016-04-30|              1|           MA|    2016-05-02| 44|   2|           G|             O|         M|      1972|2016-10-29|     M|              UA|  9.493828593E10|        01215|       B2|
|5748528|2016|    4|          245|          504|          LOS|  2016-04-30|              1|         null|    2016-05-01| 39|   2|           G|             O|         M|      1977|2016-10-29|     M|              CM|  9.501810463E10|        00472|       B2|
|5748529|2016|    4|          245|          504|          WAS|  2016-04-30|              1|           VA|    2016-05-22| 38|   2|           G|             O|         M|      1978|2016-10-29|     M|              CM|  9.492489983E10|        00488|       B2|
|5748530|2016|    4|          245|          504|          LOS|  2016-04-30|              1|           CA|    2016-05-03| 56|   2|           G|             O|         M|      1960|2016-10-29|     F|              CM|  9.492648103E10|        00302|       B2|
|5748531|2016|    4|          245|          504|          LOS|  2016-04-30|              1|           CA|    2016-05-03| 38|   2|           G|             O|         M|      1978|2016-10-28|     M|              CM|  9.492629303E10|        00302|       B2|
|5748532|2016|    4|          245|          504|          MIA|  2016-04-30|              1|           FL|    2016-05-07| 53|   2|           G|             O|         M|      1963|2016-10-29|     F|              CM|  9.500640513E10|        00430|       B2|
|5748534|2016|    4|          245|          528|          SFR|  2016-04-30|              1|           CA|          null| 84|   2|           G|          null|      null|      1932|2016-10-28|     F|              CX|  9.492476223E10|        00872|       B2|
|5748876|2016|    4|          245|          582|          HOU|  2016-04-30|              1|           TX|    2016-05-09| 43|   1|           G|             O|         M|      1973|2016-10-29|     M|              UA|  9.499463063E10|        05574|       B1|
|5748877|2016|    4|          245|          582|          HOU|  2016-04-30|              1|           TX|    2016-05-09| 30|   1|           G|             O|         M|      1986|2016-10-29|     F|              UA|  9.499447663E10|        05574|       B1|
|5748881|2016|    4|          245|          582|          LOS|  2016-04-30|              1|           CA|    2016-05-01| 34|   2|           G|             O|         M|      1982|2016-10-29|     M|              AM|  9.496770903E10|        00646|       B2|
+-------+----+-----+-------------+-------------+-------------+------------+---------------+-------------+--------------+---+----+------------+--------------+----------+----------+----------+------+----------------+----------------+-------------+---------+
only showing top 20 rows

In [12]:
imm_df_final.count()

3096313

In [13]:
imm_df_final.printSchema()

root
 |-- cicid: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- country_code1: integer (nullable = true)
 |-- country_code2: integer (nullable = true)
 |-- port_of_entry: string (nullable = true)
 |-- arrival_date: date (nullable = true)
 |-- mode_of_arrival: integer (nullable = true)
 |-- state_or_terr: string (nullable = true)
 |-- departure_date: date (nullable = true)
 |-- age: integer (nullable = true)
 |-- VISA: integer (nullable = true)
 |-- arrival_flag: string (nullable = true)
 |-- departure_flag: string (nullable = true)
 |-- match_flag: string (nullable = true)
 |-- birth_year: integer (nullable = true)
 |-- date_added: date (nullable = true)
 |-- gender: string (nullable = true)
 |-- incoming_airline: string (nullable = true)
 |-- admission_number: double (nullable = true)
 |-- flight_number: string (nullable = true)
 |-- visa_type: string (nullable = true)

In [14]:
file = open('./I94_SAS_Labels_Descriptions.SAS', 'r')
content = file.readlines()

In [15]:
lines = []

for i in range(9, 298):
    lines.append(content[i])

my_data = []
for i in range(len(lines)):
    my_data.append(lines[i].split('='))
    
for i in range(len(my_data)):
    my_data[i] = [my_data[i][0].strip(), my_data[i][1].strip().strip('\'')]
    
columns = ['country_code', 'country']

from pyspark.sql.types import StructType, StructField, StringType, IntegerType

schema = StructType([\
                    StructField('country_code', StringType()),
                    StructField('country', StringType())])

country_codes_df = spark.createDataFrame(data = my_data, schema = schema)

country_codes_df.show(truncate = False)

+------------+---------------------------------------------------------+
|country_code|country                                                  |
+------------+---------------------------------------------------------+
|582         |MEXICO Air Sea, and Not Reported (I-94, no land arrivals)|
|236         |AFGHANISTAN                                              |
|101         |ALBANIA                                                  |
|316         |ALGERIA                                                  |
|102         |ANDORRA                                                  |
|324         |ANGOLA                                                   |
|529         |ANGUILLA                                                 |
|518         |ANTIGUA-BARBUDA                                          |
|687         |ARGENTINA                                                |
|151         |ARMENIA                                                  |
|532         |ARUBA                                                    |
|438         |AUSTRALIA                                                |
|103         |AUSTRIA                                                  |
|152         |AZERBAIJAN                                               |
|512         |BAHAMAS                                                  |
|298         |BAHRAIN                                                  |
|274         |BANGLADESH                                               |
|513         |BARBADOS                                                 |
|104         |BELGIUM                                                  |
|581         |BELIZE                                                   |
+------------+---------------------------------------------------------+
only showing top 20 rows

In [16]:
country_codes_df.printSchema()

root
 |-- country_code: string (nullable = true)
 |-- country: string (nullable = true)

In [17]:
country_df_final = country_codes_df.withColumn('country_code', country_codes_df.country_code.cast(IntegerType()))

In [18]:
country_df_final.printSchema()

root
 |-- country_code: integer (nullable = true)
 |-- country: string (nullable = true)

In [19]:
# Even though the country table only has a country code and a cooresponding name, it is important 
# to use a separate table for them in case later on, other country information can be added to the table
# in the form of additional columns.

In [20]:
port_lines = []
for i in range(302, 963):
    port_lines.append(content[i])

In [21]:
print(port_lines[0])

   'ALC'	=	'ALCAN, AK             '

In [22]:
my_data2 = []

# for line in port_lines:
#     my_data2.append(line.split('='))

for i in range(0, 516):
    my_data2.append(port_lines[i].split('='))
    
city_state = []
row = 303
index = 0



my_data2[28][1] = my_data2[28][1].strip().strip('\'').strip()
my_data2[28][1] = my_data2[28][1].replace(' ', ', ')


# print(my_data2[516][1])
my_data2[76][1] = 'WASHINGTON DC, DC'
my_data2[49][1] = 'PACIFIC COAST HWY STATION, CA'
my_data2[217][1] = 'WARROAD INTL SPB, MN'
my_data2[417][1] = 'HULL FIELD SUGAR LAND ARPT, TX'
my_data2[385][1] = 'BLACK HILLS SPEARFISH, SD'
my_data2[387][1] = 'SAIPAN, NORTHERN MARIANA ISLANDS'
my_data2[428][1] = 'PASO DEL NORTE, TX'
my_data2[444][1] = 'CRUZ BAY ST JOHN, VI'
my_data2[478][1] = 'BELLINGHAM, WA #INTL'
my_data2.append(port_lines[577].split('='))

for i in range(579, 591):
    my_data2.append(port_lines[i].split('='))

# for port in my_data2:
#     print('row: ' + str(row) + ' index: ' +str(index) + ' ' + port[1].split(', ')[1])
#     row = row + 1
#     index = index + 1
    

for i in range(len(my_data2)):
    my_data2[i] = [my_data2[i][0].strip().strip('\''), my_data2[i][1].strip().strip('\'').strip().split(', ')[0], my_data2[i][1].strip().strip('\'').strip().split(', ')[1]]
    
for data_point in my_data2:
    if len(data_point[2]) > 2:
        print(data_point[2])
    
# print(my_data2)

AR (BPS)
CA (BPS)
CA (BPS)
CA (BPS)
CO #ARPT
FL #ARPT
LA (BPS)
ME (BPS)
MT (BPS)
NM (BPS)
NM (BPS)
NM (BPS)
SC #ARPT
NORTHERN MARIANA ISLANDS
TX (BPS)
TX (BPS)
VA #ARPT
VT (I-91)
VT (RT. 5)
VT (BP - SECTOR HQ)
WA #INTL
WA (BPS)

In [23]:
for row in my_data2:
    if (len(row[2]) == 2 or row[2] == 'NORTHERN MARIANA ISLANDS'):
        row.append(None)
    else:
#         row.append(row[2].split(' ')[1])
        last_col = row[2].split(' ', 1)
        row[2] = last_col[0]
        row.append(last_col[1])
        print(last_col)
        
        
# print(my_data2)

['AR', '(BPS)']
['CA', '(BPS)']
['CA', '(BPS)']
['CA', '(BPS)']
['CO', '#ARPT']
['FL', '#ARPT']
['LA', '(BPS)']
['ME', '(BPS)']
['MT', '(BPS)']
['NM', '(BPS)']
['NM', '(BPS)']
['NM', '(BPS)']
['SC', '#ARPT']
['TX', '(BPS)']
['TX', '(BPS)']
['VA', '#ARPT']
['VT', '(I-91)']
['VT', '(RT. 5)']
['VT', '(BP - SECTOR HQ)']
['WA', '#INTL']
['WA', '(BPS)']

In [24]:
for item in my_data2:
    if len(item) != 4:
        print(item)

In [25]:
us_port_schema = StructType([\
                    StructField('port_code', StringType()),
                    StructField('port_name', StringType()),
                    StructField('state_code', StringType()),
                    StructField('extra_info', StringType())])

us_port_df = spark.createDataFrame(data = my_data2, schema = us_port_schema)

In [26]:
us_port_df.show(300)
us_port_df.printSchema()

+---------+--------------------+----------+----------+
|port_code|           port_name|state_code|extra_info|
+---------+--------------------+----------+----------+
|      ALC|               ALCAN|        AK|      null|
|      ANC|           ANCHORAGE|        AK|      null|
|      BAR|BAKER AAF - BAKER...|        AK|      null|
|      DAC|       DALTONS CACHE|        AK|      null|
|      PIZ|DEW STATION PT LA...|        AK|      null|
|      DTH|        DUTCH HARBOR|        AK|      null|
|      EGL|               EAGLE|        AK|      null|
|      FRB|           FAIRBANKS|        AK|      null|
|      HOM|               HOMER|        AK|      null|
|      HYD|               HYDER|        AK|      null|
|      JUN|              JUNEAU|        AK|      null|
|      5KE|           KETCHIKAN|        AK|      null|
|      KET|           KETCHIKAN|        AK|      null|
|      MOS|MOSES POINT INTER...|        AK|      null|
|      NIK|             NIKISKI|        AK|      null|
|      NOM|                 NOM|        AK|      null|
|      PKC|         POKER CREEK|        AK|      null|
|      ORI|      PORT LIONS SPB|        AK|      null|
|      SKA|             SKAGWAY|        AK|      null|
|      SNP|     ST. PAUL ISLAND|        AK|      null|
|      TKI|              TOKEEN|        AK|      null|
|      WRA|            WRANGELL|        AK|      null|
|      HSV|MADISON COUNTY - ...|        AL|      null|
|      MOB|              MOBILE|        AL|      null|
|      LIA|         LITTLE ROCK|        AR|     (BPS)|
|      ROG|         ROGERS ARPT|        AR|      null|
|      DOU|             DOUGLAS|        AZ|      null|
|      LUK|           LUKEVILLE|        AZ|      null|
|      MAP|            MARIPOSA|        AZ|      null|
|      NAC|                NACO|        AZ|      null|
|      NOG|             NOGALES|        AZ|      null|
|      PHO|             PHOENIX|        AZ|      null|
|      POR|              PORTAL|        AZ|      null|
|      SLU|            SAN LUIS|        AZ|      null|
|      SAS|              SASABE|        AZ|      null|
|      TUC|              TUCSON|        AZ|      null|
|      YUI|                YUMA|        AZ|      null|
|      AND|             ANDRADE|        CA|      null|
|      BUR|             BURBANK|        CA|      null|
|      CAL|            CALEXICO|        CA|      null|
|      CAO|               CAMPO|        CA|      null|
|      FRE|              FRESNO|        CA|      null|
|      ICP|     IMPERIAL COUNTY|        CA|      null|
|      LNB|          LONG BEACH|        CA|      null|
|      LOS|         LOS ANGELES|        CA|      null|
|      BFL|MEADOWS FIELD - B...|        CA|      null|
|      OAK|             OAKLAND|        CA|      null|
|      ONT|             ONTARIO|        CA|      null|
|      OTM|           OTAY MESA|        CA|      null|
|      BLT|PACIFIC COAST HWY...|        CA|      null|
|      PSP|        PALM SPRINGS|        CA|      null|
|      SAC|          SACRAMENTO|        CA|      null|
|      SLS|             SALINAS|        CA|     (BPS)|
|      SDP|           SAN DIEGO|        CA|      null|
|      SFR|       SAN FRANCISCO|        CA|      null|
|      SNJ|            SAN JOSE|        CA|      null|
|      SLO|     SAN LUIS OBISPO|        CA|      null|
|      SLI|     SAN LUIS OBISPO|        CA|     (BPS)|
|      SPC|           SAN PEDRO|        CA|      null|
|      SYS|          SAN YSIDRO|        CA|      null|
|      SAA|           SANTA ANA|        CA|      null|
|      STO|            STOCKTON|        CA|     (BPS)|
|      TEC|              TECATE|        CA|      null|
|      TRV|          TRAVIS-AFB|        CA|      null|
|      APA|     ARAPAHOE COUNTY|        CO|      null|
|      ASE|               ASPEN|        CO|     #ARPT|
|      COS|    COLORADO SPRINGS|        CO|      null|
|      DEN|              DENVER|        CO|      null|
|      DRO|  LA PLATA - DURANGO|        CO|      null|
|      BDL|BRADLEY INTERNATI...|        CT|      null|
|      BGC|          BRIDGEPORT|        CT|      null|
|      GRT|              GROTON|        CT|      null|
|      HAR|            HARTFORD|        CT|      null|
|      NWH|           NEW HAVEN|        CT|      null|
|      NWL|          NEW LONDON|        CT|      null|
|      TST|NEWINGTON DATA CE...|        CT|      null|
|      WAS|       WASHINGTON DC|        DC|      null|
|      DOV|           DOVER AFB|        DE|      null|
|      DVD|           DOVER-AFB|        DE|      null|
|      WLL|          WILMINGTON|        DE|      null|
|      BOC|          BOCAGRANDE|        FL|      null|
|      SRQ|BRADENTON - SARASOTA|        FL|      null|
|      CAN|      CAPE CANAVERAL|        FL|      null|
|      DAB|DAYTONA BEACH INT...|        FL|      null|
|      FRN|          FERNANDINA|        FL|      null|
|      FTL|     FORT LAUDERDALE|        FL|      null|
|      FMY|          FORT MYERS|        FL|      null|
|      FPF|         FORT PIERCE|        FL|      null|
|      HUR|      HURLBURT FIELD|        FL|      null|
|      GNV|J R ALISON MUNI -...|        FL|      null|
|      JAC|        JACKSONVILLE|        FL|      null|
|      KEY|            KEY WEST|        FL|      null|
|      LEE|LEESBURG MUNICIPA...|        FL|      null|
|      MLB|           MELBOURNE|        FL|      null|
|      MIA|               MIAMI|        FL|      null|
|      APF|              NAPLES|        FL|     #ARPT|
|      OPF|           OPA LOCKA|        FL|      null|
|      ORL|             ORLANDO|        FL|      null|
|      PAN|         PANAMA CITY|        FL|      null|
|      PEN|           PENSACOLA|        FL|      null|
|      PCF|      PORT CANAVERAL|        FL|      null|
|      PEV|     PORT EVERGLADES|        FL|      null|
|      PSJ|         PORT ST JOE|        FL|      null|
|      SFB|             SANFORD|        FL|      null|
|      SGJ|   ST AUGUSTINE ARPT|        FL|      null|
|      SAU|        ST AUGUSTINE|        FL|      null|
|      FPR|     ST LUCIE COUNTY|        FL|      null|
|      SPE|       ST PETERSBURG|        FL|      null|
|      TAM|               TAMPA|        FL|      null|
|      WPB|     WEST PALM BEACH|        FL|      null|
|      ATL|             ATLANTA|        GA|      null|
|      BRU|           BRUNSWICK|        GA|      null|
|      AGS|BUSH FIELD - AUGUSTA|        GA|      null|
|      SAV|            SAVANNAH|        GA|      null|
|      AGA|               AGANA|        GU|      null|
|      HHW|            HONOLULU|        HI|      null|
|      OGG|      KAHULUI - MAUI|        HI|      null|
|      KOA|        KEAHOLE-KONA|        HI|      null|
|      LIH|               LIHUE|        HI|      null|
|      CID|CEDAR RAPIDS/IOWA...|        IA|      null|
|      DSM|          DES MOINES|        IA|      null|
|      BOI|AIR TERM. (GOWEN ...|        ID|      null|
|      EPI|            EASTPORT|        ID|      null|
|      IDA|FANNING FIELD - I...|        ID|      null|
|      PTL|            PORTHILL|        ID|      null|
|      SPI|CAPITAL - SPRINGF...|        IL|      null|
|      CHI|             CHICAGO|        IL|      null|
|      DPA|       DUPAGE COUNTY|        IL|      null|
|      PIA|      GREATER PEORIA|        IL|      null|
|      RFD|    GREATER ROCKFORD|        IL|      null|
|      UGN| MEMORIAL - WAUKEGAN|        IL|      null|
|      GAR|                GARY|        IN|      null|
|      HMM|             HAMMOND|        IN|      null|
|      INP|        INDIANAPOLIS|        IN|      null|
|      MRL|        MERRILLVILLE|        IN|      null|
|      SBN|          SOUTH BEND|        IN|      null|
|      ICT|MID-CONTINENT - W...|        KS|      null|
|      LEX|BLUE GRASS - LEXI...|        KY|      null|
|      LOU|          LOUISVILLE|        KY|      null|
|      BTN|         BATON ROUGE|        LA|      null|
|      LKC|        LAKE CHARLES|        LA|      null|
|      LAK|        LAKE CHARLES|        LA|     (BPS)|
|      MLU|              MONROE|        LA|      null|
|      MGC|         MORGAN CITY|        LA|      null|
|      NOL|         NEW ORLEANS|        LA|      null|
|      BOS|              BOSTON|        MA|      null|
|      GLO|          GLOUCESTER|        MA|      null|
|      BED|HANSCOM FIELD - B...|        MA|      null|
|      LYN|              LYNDEN|        WA|      null|
|      ADW|         ANDREWS AFB|        MD|      null|
|      BAL|           BALTIMORE|        MD|      null|
|      MKG|            MUSKEGON|        MD|      null|
|      PAX|      PATUXENT RIVER|        MD|      null|
|      BGM|              BANGOR|        ME|      null|
|      BOO|     BOOTHBAY HARBOR|        ME|      null|
|      BWM|         BRIDGEWATER|        ME|      null|
|      BCK|            BUCKPORT|        ME|      null|
|      CLS|              CALAIS|        ME|      null|
|      CRB|             CARIBOU|        ME|      null|
|      COB|         COBURN GORE|        ME|      null|
|      EST|           EASTCOURT|        ME|      null|
|      EPT|  EASTPORT MUNICIPAL|        ME|      null|
|      EPM|            EASTPORT|        ME|      null|
|      FOR|         FOREST CITY|        ME|      null|
|      FTF|      FORT FAIRFIELD|        ME|      null|
|      FTK|           FORT KENT|        ME|      null|
|      HML|              HAMIIN|        ME|      null|
|      HTM|             HOULTON|        ME|      null|
|      JKM|             JACKMAN|        ME|      null|
|      KAL|            KALISPEL|        MT|      null|
|      LIM|           LIMESTONE|        ME|      null|
|      LUB|               LUBEC|        ME|      null|
|      MAD|           MADAWASKA|        ME|      null|
|      POM|            PORTLAND|        ME|      null|
|      RGM|            RANGELEY|        ME|     (BPS)|
|      SBR|        SOUTH BREWER|        ME|      null|
|      SRL|          ST AURELIE|        ME|      null|
|      SPA|          ST PAMPILE|        ME|      null|
|      VNB|           VAN BUREN|        ME|      null|
|      VCB|           VANCEBORO|        ME|      null|
|      AGN|             ALGONAC|        MI|      null|
|      ALP|              ALPENA|        MI|      null|
|      BCY|            BAY CITY|        MI|      null|
|      DET|             DETROIT|        MI|      null|
|      GRP|        GRAND RAPIDS|        MI|      null|
|      GRO|         GROSSE ISLE|        MI|      null|
|      ISL|         ISLE ROYALE|        MI|      null|
|      MRC|         MARINE CITY|        MI|      null|
|      MRY|          MARYSVILLE|        MI|      null|
|      PTK|OAKLAND COUNTY - ...|        MI|      null|
|      PHU|          PORT HURON|        MI|      null|
|      RBT|     ROBERTS LANDING|        MI|      null|
|      SAG|             SAGINAW|        MI|      null|
|      SSM|    SAULT STE. MARIE|        MI|      null|
|      SCL|            ST CLAIR|        MI|      null|
|      YIP|WILLOW RUN - YPSI...|        MI|      null|
|      BAU|            BAUDETTE|        MN|      null|
|      CAR|CARIBOU MUNICIPAL...|        MN|      null|
|      GTF|  Collapsed into INT|        MN|      null|
|      INL|  Collapsed into INT|        MN|      null|
|      CRA|          CRANE LAKE|        MN|      null|
|      MIC|CRYSTAL MUNICIPAL...|        MN|      null|
|      DUL|              DULUTH|        MN|      null|
|      ELY|                 ELY|        MN|      null|
|      GPM|       GRAND PORTAGE|        MN|      null|
|      SVC|GRANT COUNTY - SI...|        MN|      null|
|      INT|        INT''L FALLS|        MN|      null|
|      LAN|           LANCASTER|        MN|      null|
|      MSP|       MINN./ST PAUL|        MN|      null|
|      LIN| NORTHERN SVC CENTER|        MN|      null|
|      NOY|               NOYES|        MN|      null|
|      PIN|          PINE CREEK|        MN|      null|
|      48Y|PINECREEK BORDER ...|        MN|      null|
|      RAN|              RAINER|        MN|      null|
|      RST|           ROCHESTER|        MN|      null|
|      ROS|              ROSEAU|        MN|      null|
|      SPM|             ST PAUL|        MN|      null|
|      WSB|    WARROAD INTL SPB|        MN|      null|
|      WAR|             WARROAD|        MN|      null|
|      KAN|         KANSAS CITY|        MO|      null|
|      SGF| SPRINGFIELD-BRANSON|        MO|      null|
|      STL|            ST LOUIS|        MO|      null|
|      WHI|           WHITETAIL|        MT|      null|
|      WHM|          WILD HORSE|        MT|      null|
|      GPT|     BILOXI REGIONAL|        MS|      null|
|      GTR|GOLDEN TRIANGLE L...|        MS|      null|
|      GUL|            GULFPORT|        MS|      null|
|      PAS|          PASCAGOULA|        MS|      null|
|      JAN|THOMPSON FIELD - ...|        MS|      null|
|      BIL|            BILLINGS|        MT|      null|
|      BTM|               BUTTE|        MT|      null|
|      CHF|            CHIEF MT|        MT|      null|
|      CTB|  CUT BANK MUNICIPAL|        MT|      null|
|      CUT|            CUT BANK|        MT|      null|
|      DLB|          DEL BONITA|        MT|      null|
|      EUR|              EUREKA|        MT|     (BPS)|
|      BZN|GALLATIN FIELD - ...|        MT|      null|
|      FCA|GLACIER NATIONAL ...|        MT|      null|
|      GGW|             GLASGOW|        MT|      null|
|      GRE|         GREAT FALLS|        MT|      null|
|      HVR|               HAVRE|        MT|      null|
|      HEL|              HELENA|        MT|      null|
|      LWT|            LEWISTON|        MT|      null|
|      MGM|              MORGAN|        MT|      null|
|      OPH|              OPHEIM|        MT|      null|
|      PIE|              PIEGAN|        MT|      null|
|      RAY|             RAYMOND|        MT|      null|
|      ROO|           ROOSVILLE|        MT|      null|
|      SCO|              SCOBEY|        MT|      null|
|      SWE|          SWEETGTASS|        MT|      null|
|      TRL|         TRIAL CREEK|        MT|      null|
|      TUR|              TURNER|        MT|      null|
|      WCM|        WILLOW CREEK|        MT|      null|
|      CLT|           CHARLOTTE|        NC|      null|
|      FAY|        FAYETTEVILLE|        NC|      null|
|      MRH|       MOREHEAD CITY|        NC|      null|
|      FOP|   MORRIS FIELDS AAF|        NC|      null|
|      GSO|PIEDMONT TRIAD IN...|        NC|      null|
|      RDU|      RALEIGH/DURHAM|        NC|      null|
|      SSC|   SHAW AFB - SUMTER|        NC|      null|
|      WIL|          WILMINGTON|        NC|      null|
|      AMB|             AMBROSE|        ND|      null|
|      ANT|              ANTLER|        ND|      null|
|      CRY|             CARBURY|        ND|      null|
|      DNS|            DUNSEITH|        ND|      null|
|      FAR|               FARGO|        ND|      null|
|      FRT|             FORTUNA|        ND|      null|
|      GRF|         GRAND FORKS|        ND|      null|
|      HNN|              HANNAH|        ND|      null|
|      HNS|            HANSBORO|        ND|      null|
|      MAI|               MAIDA|        ND|      null|
|      MND|               MINOT|        ND|      null|
|      NEC|               NECHE|        ND|      null|
|      NOO|              NOONAN|        ND|      null|
|      NRG|           NORTHGATE|        ND|      null|
|      PEM|             PEMBINA|        ND|      null|
|      SAR|              SARLES|        ND|      null|
|      SHR|            SHERWOOD|        ND|      null|
|      SJO|             ST JOHN|        ND|      null|
|      WAL|            WALHALLA|        ND|      null|
|      WHO|            WESTHOPE|        ND|      null|
|      WND|           WILLISTON|        ND|      null|
|      OMA|               OMAHA|        NE|      null|
|      LEB|             LEBANON|        NH|      null|
|      MHT|          MANCHESTER|        NH|      null|
|      PNH|           PITTSBURG|        NH|      null|
|      PSM|          PORTSMOUTH|        NH|      null|
|      BYO|             BAYONNE|        NJ|      null|
|      CNJ|              CAMDEN|        NJ|      null|
|      HOB|             HOBOKEN|        NJ|      null|
|      JER|         JERSEY CITY|        NJ|      null|
|      WRI|MC GUIRE AFB - WR...|        NJ|      null|
|      MMU|          MORRISTOWN|        NJ|      null|
|      NEW|    NEWARK/TETERBORO|        NJ|      null|
|      PER|         PERTH AMBOY|        NJ|      null|
|      ACY|POMONA FIELD - AT...|        NJ|      null|
|      ALA|          ALAMAGORDO|        NM|     (BPS)|
|      ABQ|         ALBUQUERQUE|        NM|      null|
|      ANP|      ANTELOPE WELLS|        NM|      null|
|      CRL|            CARLSBAD|        NM|      null|
+---------+--------------------+----------+----------+
only showing top 300 rows

root
 |-- port_code: string (nullable = true)
 |-- port_name: string (nullable = true)
 |-- state_code: string (nullable = true)
 |-- extra_info: string (nullable = true)

In [27]:
state_lines = []
for i in range(981, 1036):
    state_lines.append(content[i])

In [28]:
print(state_lines[0])

	'AL'='ALABAMA'

In [29]:
my_data3 = []
for line in state_lines:
    split_data = line.split('=')
    my_data3.append([split_data[0].strip().strip('\''), split_data[1].strip().strip('\'')])
        
    
    
print(my_data3)

[['AL', 'ALABAMA'], ['AK', 'ALASKA'], ['AZ', 'ARIZONA'], ['AR', 'ARKANSAS'], ['CA', 'CALIFORNIA'], ['CO', 'COLORADO'], ['CT', 'CONNECTICUT'], ['DE', 'DELAWARE'], ['DC', 'DIST. OF COLUMBIA'], ['FL', 'FLORIDA'], ['GA', 'GEORGIA'], ['GU', 'GUAM'], ['HI', 'HAWAII'], ['ID', 'IDAHO'], ['IL', 'ILLINOIS'], ['IN', 'INDIANA'], ['IA', 'IOWA'], ['KS', 'KANSAS'], ['KY', 'KENTUCKY'], ['LA', 'LOUISIANA'], ['ME', 'MAINE'], ['MD', 'MARYLAND'], ['MA', 'MASSACHUSETTS'], ['MI', 'MICHIGAN'], ['MN', 'MINNESOTA'], ['MS', 'MISSISSIPPI'], ['MO', 'MISSOURI'], ['MT', 'MONTANA'], ['NC', 'N. CAROLINA'], ['ND', 'N. DAKOTA'], ['NE', 'NEBRASKA'], ['NV', 'NEVADA'], ['NH', 'NEW HAMPSHIRE'], ['NJ', 'NEW JERSEY'], ['NM', 'NEW MEXICO'], ['NY', 'NEW YORK'], ['OH', 'OHIO'], ['OK', 'OKLAHOMA'], ['OR', 'OREGON'], ['PA', 'PENNSYLVANIA'], ['PR', 'PUERTO RICO'], ['RI', 'RHODE ISLAND'], ['SC', 'S. CAROLINA'], ['SD', 'S. DAKOTA'], ['TN', 'TENNESSEE'], ['TX', 'TEXAS'], ['UT', 'UTAH'], ['VT', 'VERMONT'], ['VI', 'VIRGIN ISLANDS'], ['VA', 'VIRGINIA'], ['WV', 'W. VIRGINIA'], ['WA', 'WASHINGTON'], ['WI', 'WISCONSON'], ['WY', 'WYOMING'], ['99', "All Other Codes' ;"]]

In [30]:
state_schema = StructType([\
                          StructField('state_code', StringType()),
                          StructField('state_name', StringType())])

In [31]:
state_df_final = spark.createDataFrame(data = my_data3, schema = state_schema)

In [32]:
state_df_final.show()

+----------+-----------------+
|state_code|       state_name|
+----------+-----------------+
|        AL|          ALABAMA|
|        AK|           ALASKA|
|        AZ|          ARIZONA|
|        AR|         ARKANSAS|
|        CA|       CALIFORNIA|
|        CO|         COLORADO|
|        CT|      CONNECTICUT|
|        DE|         DELAWARE|
|        DC|DIST. OF COLUMBIA|
|        FL|          FLORIDA|
|        GA|          GEORGIA|
|        GU|             GUAM|
|        HI|           HAWAII|
|        ID|            IDAHO|
|        IL|         ILLINOIS|
|        IN|          INDIANA|
|        IA|             IOWA|
|        KS|           KANSAS|
|        KY|         KENTUCKY|
|        LA|        LOUISIANA|
+----------+-----------------+
only showing top 20 rows

In [33]:
airport_df = spark.read.options(delimiter = ',').option("header", True).csv('airport-codes_csv.csv')

In [34]:
airport_df.show()

+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
|ident|         type|                name|elevation_ft|continent|iso_country|iso_region|municipality|gps_code|iata_code|local_code|         coordinates|
+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
|  00A|     heliport|   Total Rf Heliport|          11|       NA|         US|     US-PA|    Bensalem|     00A|     null|       00A|-74.9336013793945...|
| 00AA|small_airport|Aero B Ranch Airport|        3435|       NA|         US|     US-KS|       Leoti|    00AA|     null|      00AA|-101.473911, 38.7...|
| 00AK|small_airport|        Lowell Field|         450|       NA|         US|     US-AK|Anchor Point|    00AK|     null|      00AK|-151.695999146, 5...|
| 00AL|small_airport|        Epps Airpark|         820|       NA|         US|     US-AL|     Harvest|    00AL|     null|      00AL|-86.7703018188476...|
| 00AR|       closed|Newport Hospital ...|         237|       NA|         US|     US-AR|     Newport|    null|     null|      null| -91.254898, 35.6087|
| 00AS|small_airport|      Fulton Airport|        1100|       NA|         US|     US-OK|        Alex|    00AS|     null|      00AS|-97.8180194, 34.9...|
| 00AZ|small_airport|      Cordes Airport|        3810|       NA|         US|     US-AZ|      Cordes|    00AZ|     null|      00AZ|-112.165000915527...|
| 00CA|small_airport|Goldstone /Gts/ A...|        3038|       NA|         US|     US-CA|     Barstow|    00CA|     null|      00CA|-116.888000488, 3...|
| 00CL|small_airport| Williams Ag Airport|          87|       NA|         US|     US-CA|       Biggs|    00CL|     null|      00CL|-121.763427, 39.4...|
| 00CN|     heliport|Kitchen Creek Hel...|        3350|       NA|         US|     US-CA| Pine Valley|    00CN|     null|      00CN|-116.4597417, 32....|
| 00CO|       closed|          Cass Field|        4830|       NA|         US|     US-CO|  Briggsdale|    null|     null|      null|-104.344002, 40.6...|
| 00FA|small_airport| Grass Patch Airport|          53|       NA|         US|     US-FL|    Bushnell|    00FA|     null|      00FA|-82.2190017700195...|
| 00FD|     heliport|  Ringhaver Heliport|          25|       NA|         US|     US-FL|   Riverview|    00FD|     null|      00FD|-82.3453979492187...|
| 00FL|small_airport|   River Oak Airport|          35|       NA|         US|     US-FL|  Okeechobee|    00FL|     null|      00FL|-80.9692001342773...|
| 00GA|small_airport|    Lt World Airport|         700|       NA|         US|     US-GA|    Lithonia|    00GA|     null|      00GA|-84.0682983398437...|
| 00GE|     heliport|    Caffrey Heliport|         957|       NA|         US|     US-GA|       Hiram|    00GE|     null|      00GE|-84.7339019775390...|
| 00HI|     heliport|  Kaupulehu Heliport|          43|       NA|         US|     US-HI| Kailua/Kona|    00HI|     null|      00HI|-155.980233, 19.8...|
| 00ID|small_airport|Delta Shores Airport|        2064|       NA|         US|     US-ID|  Clark Fork|    00ID|     null|      00ID|-116.213996887207...|
| 00IG|small_airport|       Goltl Airport|        3359|       NA|         US|     US-KS|    McDonald|    00IG|     null|      00IG|-101.395994, 39.7...|
| 00II|     heliport|Bailey Generation...|         600|       NA|         US|     US-IN|  Chesterton|    00II|     null|      00II|-87.122802734375,...|
+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
only showing top 20 rows

In [35]:
airport_df = airport_df.filter(airport_df.iso_country == 'US')
airport_df.count()

22757

In [36]:
from pyspark.sql.functions import split

airport_df_final = airport_df.withColumn('state_code', split(airport_df.iso_region, '-')[1])\
                             .withColumn('elevation_ft', airport_df.elevation_ft.cast(IntegerType()))\
                             .drop('iso_region')\
                             .drop('continent')\
                             .drop('iso_country')

airport_df_final.show()
airport_df_final.printSchema()

+-----+-------------+--------------------+------------+------------+--------+---------+----------+--------------------+----------+
|ident|         type|                name|elevation_ft|municipality|gps_code|iata_code|local_code|         coordinates|state_code|
+-----+-------------+--------------------+------------+------------+--------+---------+----------+--------------------+----------+
|  00A|     heliport|   Total Rf Heliport|          11|    Bensalem|     00A|     null|       00A|-74.9336013793945...|        PA|
| 00AA|small_airport|Aero B Ranch Airport|        3435|       Leoti|    00AA|     null|      00AA|-101.473911, 38.7...|        KS|
| 00AK|small_airport|        Lowell Field|         450|Anchor Point|    00AK|     null|      00AK|-151.695999146, 5...|        AK|
| 00AL|small_airport|        Epps Airpark|         820|     Harvest|    00AL|     null|      00AL|-86.7703018188476...|        AL|
| 00AR|       closed|Newport Hospital ...|         237|     Newport|    null|     null|      null| -91.254898, 35.6087|        AR|
| 00AS|small_airport|      Fulton Airport|        1100|        Alex|    00AS|     null|      00AS|-97.8180194, 34.9...|        OK|
| 00AZ|small_airport|      Cordes Airport|        3810|      Cordes|    00AZ|     null|      00AZ|-112.165000915527...|        AZ|
| 00CA|small_airport|Goldstone /Gts/ A...|        3038|     Barstow|    00CA|     null|      00CA|-116.888000488, 3...|        CA|
| 00CL|small_airport| Williams Ag Airport|          87|       Biggs|    00CL|     null|      00CL|-121.763427, 39.4...|        CA|
| 00CN|     heliport|Kitchen Creek Hel...|        3350| Pine Valley|    00CN|     null|      00CN|-116.4597417, 32....|        CA|
| 00CO|       closed|          Cass Field|        4830|  Briggsdale|    null|     null|      null|-104.344002, 40.6...|        CO|
| 00FA|small_airport| Grass Patch Airport|          53|    Bushnell|    00FA|     null|      00FA|-82.2190017700195...|        FL|
| 00FD|     heliport|  Ringhaver Heliport|          25|   Riverview|    00FD|     null|      00FD|-82.3453979492187...|        FL|
| 00FL|small_airport|   River Oak Airport|          35|  Okeechobee|    00FL|     null|      00FL|-80.9692001342773...|        FL|
| 00GA|small_airport|    Lt World Airport|         700|    Lithonia|    00GA|     null|      00GA|-84.0682983398437...|        GA|
| 00GE|     heliport|    Caffrey Heliport|         957|       Hiram|    00GE|     null|      00GE|-84.7339019775390...|        GA|
| 00HI|     heliport|  Kaupulehu Heliport|          43| Kailua/Kona|    00HI|     null|      00HI|-155.980233, 19.8...|        HI|
| 00ID|small_airport|Delta Shores Airport|        2064|  Clark Fork|    00ID|     null|      00ID|-116.213996887207...|        ID|
| 00IG|small_airport|       Goltl Airport|        3359|    McDonald|    00IG|     null|      00IG|-101.395994, 39.7...|        KS|
| 00II|     heliport|Bailey Generation...|         600|  Chesterton|    00II|     null|      00II|-87.122802734375,...|        IN|
+-----+-------------+--------------------+------------+------------+--------+---------+----------+--------------------+----------+
only showing top 20 rows

root
 |-- ident: string (nullable = true)
 |-- type: string (nullable = true)
 |-- name: string (nullable = true)
 |-- elevation_ft: integer (nullable = true)
 |-- municipality: string (nullable = true)
 |-- gps_code: string (nullable = true)
 |-- iata_code: string (nullable = true)
 |-- local_code: string (nullable = true)
 |-- coordinates: string (nullable = true)
 |-- state_code: string (nullable = true)

In [37]:
from pyspark.sql.functions import upper, col

In [38]:
us_cities_demog_df = spark.read.options(delimiter = ';').option("header", True).csv('us-cities-demographics.csv')

city_dem_df = us_cities_demog_df.withColumn('Median_Age', us_cities_demog_df['Median Age'].cast(DoubleType()))\
                                .withColumn('City', upper(col('City')))\
                                .withColumn('State', upper(col('State')))\
                                .withColumn('Male_Population', us_cities_demog_df['Male Population'].cast(IntegerType()))\
                                .withColumn('Female_Population', us_cities_demog_df['Female Population'].cast(IntegerType()))\
                                .withColumn('Total_Population', us_cities_demog_df['Total Population'].cast(IntegerType()))\
                                .withColumn('Number_of_Veterans', us_cities_demog_df['Number of Veterans'].cast(IntegerType()))\
                                .withColumn('Foreign-born', us_cities_demog_df['Foreign-born'].cast(IntegerType()))\
                                .withColumn('Average_Household_Size', us_cities_demog_df['Average Household Size'].cast(DoubleType()))\
                                .withColumn('Count', us_cities_demog_df['Count'].cast(IntegerType()))\
                                .drop('Median Age')\
                                .drop('Male Population')\
                                .drop('Female Population')\
                                .drop('Total Population')\
                                .drop('Number of Veterans')\
                                .drop('Average Household Size')\
                                .drop('State Code')

city_dem_df.show()
city_dem_df.printSchema()

+----------------+--------------+------------+--------------------+------+----------+---------------+-----------------+----------------+------------------+----------------------+
|            City|         State|Foreign-born|                Race| Count|Median_Age|Male_Population|Female_Population|Total_Population|Number_of_Veterans|Average_Household_Size|
+----------------+--------------+------------+--------------------+------+----------+---------------+-----------------+----------------+------------------+----------------------+
|   SILVER SPRING|      MARYLAND|       30908|  Hispanic or Latino| 25924|      33.8|          40601|            41862|           82463|              1562|                   2.6|
|          QUINCY| MASSACHUSETTS|       32935|               White| 58723|      41.0|          44129|            49500|           93629|              4147|                  2.39|
|          HOOVER|       ALABAMA|        8229|               Asian|  4759|      38.5|          38040|            46799|           84839|              4819|                  2.58|
|RANCHO CUCAMONGA|    CALIFORNIA|       33878|Black or African-...| 24437|      34.5|          88127|            87105|          175232|              5821|                  3.18|
|          NEWARK|    NEW JERSEY|       86253|               White| 76402|      34.6|         138040|           143873|          281913|              5829|                  2.73|
|          PEORIA|      ILLINOIS|        7517|American Indian a...|  1343|      33.1|          56229|            62432|          118661|              6634|                   2.4|
|        AVONDALE|       ARIZONA|        8355|Black or African-...| 11592|      29.1|          38712|            41971|           80683|              4815|                  3.18|
|     WEST COVINA|    CALIFORNIA|       37038|               Asian| 32716|      39.8|          51629|            56860|          108489|              3800|                  3.56|
|        O'FALLON|      MISSOURI|        3269|  Hispanic or Latino|  2583|      36.0|          41762|            43270|           85032|              5783|                  2.77|
|      HIGH POINT|NORTH CAROLINA|       16315|               Asian| 11060|      35.5|          51751|            58077|          109828|              5204|                  2.65|
|          FOLSOM|    CALIFORNIA|       13234|  Hispanic or Latino|  5822|      40.9|          41051|            35317|           76368|              4187|                  2.62|
|          FOLSOM|    CALIFORNIA|       13234|American Indian a...|   998|      40.9|          41051|            35317|           76368|              4187|                  2.62|
|    PHILADELPHIA|  PENNSYLVANIA|      205339|               Asian|122721|      34.1|         741270|           826172|         1567442|             61995|                  2.61|
|         WICHITA|        KANSAS|       40270|  Hispanic or Latino| 65162|      34.6|         192354|           197601|          389955|             23978|                  2.56|
|         WICHITA|        KANSAS|       40270|American Indian a...|  8791|      34.6|         192354|           197601|          389955|             23978|                  2.56|
|      FORT MYERS|       FLORIDA|       15365|               White| 50169|      37.3|          36850|            37165|           74015|              4312|                  2.45|
|      PITTSBURGH|  PENNSYLVANIA|       28187|               White|208863|      32.9|         149690|           154695|          304385|             17728|                  2.13|
|          LAREDO|         TEXAS|       68427|American Indian a...|  1253|      28.8|         124305|           131484|          255789|              4921|                  3.66|
|        BERKELEY|    CALIFORNIA|       25000|               Asian| 27089|      32.5|          60142|            60829|          120971|              3736|                  2.35|
|     SANTA CLARA|    CALIFORNIA|       52281|               White| 55847|      35.2|          63278|            62938|          126216|              4426|                  2.75|
+----------------+--------------+------------+--------------------+------+----------+---------------+-----------------+----------------+------------------+----------------------+
only showing top 20 rows

root
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Foreign-born: integer (nullable = true)
 |-- Race: string (nullable = true)
 |-- Count: integer (nullable = true)
 |-- Median_Age: double (nullable = true)
 |-- Male_Population: integer (nullable = true)
 |-- Female_Population: integer (nullable = true)
 |-- Total_Population: integer (nullable = true)
 |-- Number_of_Veterans: integer (nullable = true)
 |-- Average_Household_Size: double (nullable = true)

In [39]:
# state_df_final.write.mode("overwrite").parquet(path="./state_table.parquet")

# state_df_final.write.mode("overwrite").parquet(path='s3://capstonebucket1743/test1/')

In [40]:
# city_dem_df.write.mode("overwrite").parquet(path="./city_dem_table.parquet")

In [41]:
# us_port_df.write.mode("overwrite").parquet(path="./us_port_table.parquet")

In [42]:
# airport_df_final.write.mode("overwrite").parquet(path="./airport_table.parquet")

In [43]:
# country_df_final.write.mode("overwrite").parquet(path="./country_table.parquet")

In [44]:
# imm_df_final.write.mode("overwrite").parquet(path="./immigration_table.parquet")

In [45]:
state_df_final.createOrReplaceTempView('state_stage')
city_dem_df.createOrReplaceTempView('city_stage')
us_port_df.createOrReplaceTempView('port_stage')
airport_df_final.createOrReplaceTempView('airport_stage')
country_df_final.createOrReplaceTempView('country_stage')
imm_df_final.createOrReplaceTempView('imm_stage')

In [46]:
state_df_final.show(5)
city_dem_df.show(5)
us_port_df.show(5)
airport_df_final.show(5)
country_df_final.show(5)
imm_df_final.show(5)

+----------+----------+
|state_code|state_name|
+----------+----------+
|        AL|   ALABAMA|
|        AK|    ALASKA|
|        AZ|   ARIZONA|
|        AR|  ARKANSAS|
|        CA|CALIFORNIA|
+----------+----------+
only showing top 5 rows

+----------------+-------------+------------+--------------------+-----+----------+---------------+-----------------+----------------+------------------+----------------------+
|            City|        State|Foreign-born|                Race|Count|Median_Age|Male_Population|Female_Population|Total_Population|Number_of_Veterans|Average_Household_Size|
+----------------+-------------+------------+--------------------+-----+----------+---------------+-----------------+----------------+------------------+----------------------+
|   SILVER SPRING|     MARYLAND|       30908|  Hispanic or Latino|25924|      33.8|          40601|            41862|           82463|              1562|                   2.6|
|          QUINCY|MASSACHUSETTS|       32935|               White|58723|      41.0|          44129|            49500|           93629|              4147|                  2.39|
|          HOOVER|      ALABAMA|        8229|               Asian| 4759|      38.5|          38040|            46799|           84839|              4819|                  2.58|
|RANCHO CUCAMONGA|   CALIFORNIA|       33878|Black or African-...|24437|      34.5|          88127|            87105|          175232|              5821|                  3.18|
|          NEWARK|   NEW JERSEY|       86253|               White|76402|      34.6|         138040|           143873|          281913|              5829|                  2.73|
+----------------+-------------+------------+--------------------+-----+----------+---------------+-----------------+----------------+------------------+----------------------+
only showing top 5 rows

+---------+--------------------+----------+----------+
|port_code|           port_name|state_code|extra_info|
+---------+--------------------+----------+----------+
|      ALC|               ALCAN|        AK|      null|
|      ANC|           ANCHORAGE|        AK|      null|
|      BAR|BAKER AAF - BAKER...|        AK|      null|
|      DAC|       DALTONS CACHE|        AK|      null|
|      PIZ|DEW STATION PT LA...|        AK|      null|
+---------+--------------------+----------+----------+
only showing top 5 rows

+-----+-------------+--------------------+------------+------------+--------+---------+----------+--------------------+----------+
|ident|         type|                name|elevation_ft|municipality|gps_code|iata_code|local_code|         coordinates|state_code|
+-----+-------------+--------------------+------------+------------+--------+---------+----------+--------------------+----------+
|  00A|     heliport|   Total Rf Heliport|          11|    Bensalem|     00A|     null|       00A|-74.9336013793945...|        PA|
| 00AA|small_airport|Aero B Ranch Airport|        3435|       Leoti|    00AA|     null|      00AA|-101.473911, 38.7...|        KS|
| 00AK|small_airport|        Lowell Field|         450|Anchor Point|    00AK|     null|      00AK|-151.695999146, 5...|        AK|
| 00AL|small_airport|        Epps Airpark|         820|     Harvest|    00AL|     null|      00AL|-86.7703018188476...|        AL|
| 00AR|       closed|Newport Hospital ...|         237|     Newport|    null|     null|      null| -91.254898, 35.6087|        AR|
+-----+-------------+--------------------+------------+------------+--------+---------+----------+--------------------+----------+
only showing top 5 rows

+------------+--------------------+
|country_code|             country|
+------------+--------------------+
|         582|MEXICO Air Sea, a...|
|         236|         AFGHANISTAN|
|         101|             ALBANIA|
|         316|             ALGERIA|
|         102|             ANDORRA|
+------------+--------------------+
only showing top 5 rows

+-------+----+-----+-------------+-------------+-------------+------------+---------------+-------------+--------------+---+----+------------+--------------+----------+----------+----------+------+----------------+----------------+-------------+---------+
|  cicid|year|month|country_code1|country_code2|port_of_entry|arrival_date|mode_of_arrival|state_or_terr|departure_date|age|VISA|arrival_flag|departure_flag|match_flag|birth_year|date_added|gender|incoming_airline|admission_number|flight_number|visa_type|
+-------+----+-----+-------------+-------------+-------------+------------+---------------+-------------+--------------+---+----+------------+--------------+----------+----------+----------+------+----------------+----------------+-------------+---------+
|5748517|2016|    4|          245|          438|          LOS|  2016-04-30|              1|           CA|    2016-05-08| 40|   1|           G|             O|         M|      1976|2016-10-29|     F|              QF|  9.495387003E10|        00011|       B1|
|5748518|2016|    4|          245|          438|          LOS|  2016-04-30|              1|           NV|    2016-05-17| 32|   1|           G|             O|         M|      1984|2016-10-29|     F|              VA|  9.495562283E10|        00007|       B1|
|5748519|2016|    4|          245|          438|          LOS|  2016-04-30|              1|           WA|    2016-05-08| 29|   1|           G|             O|         M|      1987|2016-10-29|     M|              DL|  9.495640653E10|        00040|       B1|
|5748520|2016|    4|          245|          438|          LOS|  2016-04-30|              1|           WA|    2016-05-14| 29|   1|           G|             O|         M|      1987|2016-10-29|     F|              DL|  9.495645143E10|        00040|       B1|
|5748521|2016|    4|          245|          438|          LOS|  2016-04-30|              1|           WA|    2016-05-14| 28|   1|           G|             O|         M|      1988|2016-10-29|     M|              DL|  9.495638813E10|        00040|       B1|
+-------+----+-----+-------------+-------------+-------------+------------+---------------+-------------+--------------+---+----+------------+--------------+----------+----------+----------+------+----------------+----------------+-------------+---------+
only showing top 5 rows

In [47]:
data_model2 = spark.sql("SELECT SUM(`Foreign-born`) AS total_foreign_born, City \
                         FROM city_stage \
                         GROUP BY City \
                         ORDER BY total_foreign_born DESC")

In [54]:
data_model2.show(20)

+------------------+-------------+
|total_foreign_born|         City|
+------------------+-------------+
|          16062500|     NEW YORK|
|           7427125|  LOS ANGELES|
|           3481050|      HOUSTON|
|           2867315|      CHICAGO|
|           2007465|     SAN JOSE|
|           1869210|    SAN DIEGO|
|           1634125|       DALLAS|
|           1503510|      PHOENIX|
|           1485995|SAN FRANCISCO|
|           1303945|        MIAMI|
|           1040230|  SAN ANTONIO|
|           1026695| PHILADELPHIA|
|            950615|       BOSTON|
|            908430|       AUSTIN|
|            798545|      EL PASO|
|            778215|     GLENDALE|
|            764995|    SANTA ANA|
|            717020|   FORT WORTH|
|            685665|      ANAHEIM|
|            680592|      HIALEAH|
+------------------+-------------+
only showing top 20 rows

In [55]:
data_model = spark.sql("SELECT COUNT(*) AS num_im_thru_port, p.port_name  \
                        FROM imm_stage i JOIN port_stage p ON i.port_of_entry = p.port_code \
                        GROUP BY p.port_name \
                        ORDER BY num_im_thru_port DESC")

In [56]:
data_model.show(20)

+----------------+----------------+
|num_im_thru_port|       port_name|
+----------------+----------------+
|          485916|        NEW YORK|
|          343941|           MIAMI|
|          310163|     LOS ANGELES|
|          152586|   SAN FRANCISCO|
|          149195|         ORLANDO|
|          142720|        HONOLULU|
|          136122|NEWARK/TETERBORO|
|          130564|         CHICAGO|
|          101481|         HOUSTON|
|           95977| FORT LAUDERDALE|
|           92579|         ATLANTA|
|           89280|       LAS VEGAS|
|           80919|           AGANA|
|           74835|   WASHINGTON DC|
|           71809|          DALLAS|
|           57354|          BOSTON|
|           47719|         SEATTLE|
|           38890|         PHOENIX|
|           37832|         DETROIT|
|           25632|           TAMPA|
+----------------+----------------+
only showing top 20 rows

In [62]:
data_model3 = spark.sql("WITH table1 AS (SELECT SUM(`Foreign-born`) AS total_foreign_born, City FROM city_stage GROUP BY City), \
                               table2 AS (SELECT COUNT(*) AS num_im_thru_port, p.port_name \
                               FROM imm_stage i JOIN port_stage p ON i.port_of_entry = p.port_code \
                               GROUP BY p.port_name ORDER BY num_im_thru_port DESC)\
                               SELECT table1.total_foreign_born, table1.City, table2.num_im_thru_port, CAST(((table2.num_im_thru_port/(3096313)) * 100) AS DECIMAL(5, 2)) AS percent_im \
                               FROM table1 JOIN table2 ON table1.City = table2.port_name \
                               ORDER BY 1 DESC")

In [63]:
data_model3.show()

+------------------+-------------+----------------+----------+
|total_foreign_born|         City|num_im_thru_port|percent_im|
+------------------+-------------+----------------+----------+
|          16062500|     NEW YORK|          485916|     15.69|
|           7427125|  LOS ANGELES|          310163|     10.02|
|           3481050|      HOUSTON|          101481|      3.28|
|           2867315|      CHICAGO|          130564|      4.22|
|           2007465|     SAN JOSE|            4490|      0.15|
|           1869210|    SAN DIEGO|           10944|      0.35|
|           1634125|       DALLAS|           71809|      2.32|
|           1503510|      PHOENIX|           38890|      1.26|
|           1485995|SAN FRANCISCO|          152586|      4.93|
|           1303945|        MIAMI|          343941|     11.11|
|           1040230|  SAN ANTONIO|            7066|      0.23|
|           1026695| PHILADELPHIA|           24973|      0.81|
|            950615|       BOSTON|           57354|      1.85|
|            908430|       AUSTIN|            3034|      0.10|
|            798545|      EL PASO|             165|      0.01|
|            764995|    SANTA ANA|            1625|      0.05|
|            644485|    CHARLOTTE|           16228|      0.52|
|            638820|   LONG BEACH|             884|      0.03|
|            638045|    LAS VEGAS|           89280|      2.88|
|            599200|      SEATTLE|           47719|      1.54|
+------------------+-------------+----------------+----------+
only showing top 20 rows

In [53]:
# spark.stop()